/* 1 em = 16px  */

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

header {
    margin: 0;
    padding: 0;
}

.nav-all {
    background: rgb(12, 35, 30);
    color: white;
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* border: 3px solid white; */

.nav-main ul {
    padding: 0;
    list-style: none;
    margin-right: 20rem;
}

li {
    margin-left: 40px;
    display: inline-block;
}

li a {
    font-size: 15px;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(yellow, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
}

a:hover, a:focus {
    background-size: 100% 2px;
}

.logo {
    letter-spacing: 15px;
    font-size: 1.2em;
    margin-left: 20rem;
}

.main {

    margin-top: 20vh;
   
}

.footer{
    background: rgb(19, 50, 43);
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem;
    color: teal;
}
.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}
